
.background{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.button{
    width: 200px;
    height: 50px;
    border-radius: 5%;
    background-color: #f1f1f1;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.button:hover{
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .container > div {
    display: inline-block;
    width: 200px;
    height: 400px;
    text-align: center;
    margin: 0 40px;
    perspective: 1000px;
  }
  
  .container > div > div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: orangered;
    transition: transform 0.5s, background-color 0.5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  
  .container > div > div.front {
    transform: rotateY(0);
    z-index: 2;
  }
  
  .container > div > div.back {
    transform: rotateY(180deg);
    background-color: blue;
    z-index: 1;
  }
  
  .container > div:hover > div.front {
    transform: rotateY(-180deg);
    z-index: 1;
  }
  
  .container > div:hover > div.back {
    transform: rotateY(0);
    z-index: 2;
  }
  
  .container > div > div.back {
    transform-origin: center;
  }
  
